################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/OnlineBoutique/.vs/OnlineBoutique/FileContentIndex/1718bf9a-0eb5-41a3-8eb0-be8fc3d1aa47.vsidx
/OnlineBoutique/.vs/OnlineBoutique/FileContentIndex
